{%load static%}
<footer class="footer">
        <div class="footer_pureq">
            <div class="contactos">
                <h3>Contactenos: </h3>
                <ul><li><i class="fas fa-house-user"></i> Jr. Andres Avelino Caceres N° 231</li>
                    <li><i class="fas fa-phone-alt"></i> Movistar: 980368343 - 968483024</li>
                    <li><i class="fas fa-envelope-open-text"></i>luis-rc_13@hotmail.com</li>
                    <li><i class="fas fa-envelope-open-text"></i> jorgeluisriveraclaro@gmail.com</li>
                    <li><i class="fas fa-clock"></i> Horarios de Atencion: Todos los dias</li>
                </ul>
            </div>
            <div class="redes_sociales">
                <h3>Redes Sociales:</h3>
                <ul>
                    <li class="facebook"><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li class="twitter"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="whatsapp"><a href=""><i class="fab fa-whatsapp-square"></i></a></li>
                    <li class="instagram"><a href=""><i class="fab fa-instagram-square"></i></a></li>
                    <li class="tiktok"><a href=""><i class="fab fa-tiktok"></i></a></li>
                </ul>
            </div>
            <div class="socios">
                <h3>Nuestros Socios:</h3>
                <ul><li><a href=""><img src="{%static 'img/ministerio_turismo-agencia-del-turismo-pureq-runa-tours.png'%}" alt=""></a></li></ul>
            </div>
        </div>
        <div class="derechos_reservados">
            2021 © Pureq Runa Tours. Todos los Derechos Reservados Desarrollado por Megafly
        </div>
</footer>